header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* .nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
} */

.menu-left {
    margin-right: auto;
}
  